body, html {
  min-height: 100vh;
  min-width: 768px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*{
  box-sizing: border-box;
}

button, a {
  transition: background-color .3s,
              color .3s,
              border-color .3s;
}